BOT_TOKEN=your_telegram_bot_token
ADMIN_CHAT_ID=5844447576
SHORTENER_API_KEY=your_earnreverse_api_key
PUBLIC_SITE_URL=https://rahulgamerx.in
BOT_USERNAME=rahullgamerxfile_bot
FIREBASE_DATABASE_URL=https://rgxbotfile-default-rtdb.firebaseio.com
FIREBASE_PATH=rgx
AUTO_DEPLOY=false
PORT=3000
REQUIRED_CHANNEL=
REQUIRED_CHANNEL_URL=
